@font-face {
  font-family: 'LG Smart UI';
  src: url('../../public/lg5-common/webfonts/LGSmartUI-Bold.woff2');
}

@font-face {
  font-family: "LG El Headline Bold";
  src: url('../../public/fonts/LG EI_Headline Bold.woff2');
}

@font-face {
  font-family: "LG El Headline Thin";
  src: url('../../public/fonts/LG EI_Headline Thin.woff2');
}