@import "./typography";

// Fonts
$font-bold: "LG Smart Bold", sans-serif;
$font-light: "LG Smart Light", sans-serif;
$font-regular: "LG Smart Regular", sans-serif;
$font-semibold: "LG Smart SemiBold", sans-serif;
$font-ui: "LG Smart UI", "Segoe UI", "Microsoft Sans Serif", sans-serif;
$font-headline-bold: "LG El Headline Bold", sans-serif;
$font-headline-thin: "LG El Headline Thin", sans-serif;
